@import "tailwindcss";

/* Sources scannées par Tailwind */
@source "../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php";
@source "../../storage/framework/views/*.php";
@source "../**/*.blade.php";
@source "../**/*.js";

/* Thème */
@theme {
  --font-sans: ui-sans-serif, system-ui, sans-serif;
}
